.btn {
  width: 100%;
  padding: 10px;
  border: #007bff 1px solid;
  background-color: white;
  color: #007bff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  transition: 0.3s;
}

.btn:hover {
  background-color: #007bff;
  color: white;
}
