.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 10px 20px 10px 20px;
}

.modal-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-close {
  height: 30%;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  transition: 0.5s;
}
.modal-bottom {
  display: flex;
  justify-content: flex-end;
}
.modal-append {
  margin-top: 10px;
}
